In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("operators.csv", encoding = "UTF-8")

In [41]:
# especificando o cabecalho do arquivo

df = pd.read_csv("operators.csv", encoding = "UTF-8", header=0)

In [77]:
# selecionando somente algumas colunas
# usecols=["Name"] como parametro de read_csv


df = pd.read_csv("operators.csv", encoding = "UTF-8",usecols=[0])

In [78]:
#lendo x linhas do arquivo

In [79]:
df

    Organization
0           APCA
1           APCA
2   JAEGER CORPS
3   JAEGER CORPS
4           SASR
5           SASR
6           GIGR
7           GIGR
8            MPS
9            MPS
10        G.I.S.
11        G.I.S.
12          GIGN
13          GIGN
14     707TH SMB
15     707TH SMB
16      G.R.O.M.
17      G.R.O.M.
18        S.D.U.
19        S.D.U.
20        G.E.O.
21        G.E.O.
22        S.A.T.
23        S.A.T.
24          BOPE
25          BOPE
26     NAVY SEAL
27     NAVY SEAL
28          JTF2
29          JTF2
30           SAS
31           SAS
32           SAS
33           SAS
34          SWAT
35          SWAT
36          SWAT
37          SWAT
38          GIGN
39          GIGN
40          GIGN
41          GIGN
42          GSG9
43         GSG10
44         GSG11
45         GSG12
46      SPETSNAZ
47      SPETSNAZ
48      SPETSNAZ
49      SPETSNAZ
50    NIGHTHAVEN
51    NIGHTHAVEN

In [75]:
df.shape

(52, 1)